<ul class="nav flex-column bg-white border-end vh-100 p-3" style="min-width: 250px;">

    <!-- Título -->
    <li class="mb-3">
        <h5 class="fw-bold mb-0">Dashboard</h5>
        <small class="text-muted">Moodle</small>
    </li>

    <!-- Inicio -->
    <li class="nav-item">
        <a class="nav-link {{#isindex}}active fw-bold{{/isindex}}" href="{{{indexurl}}}">
            <i class="fa fa-home me-2"></i> Inicio
        </a>
    </li>

    <hr>

    <!-- USUARIOS -->
    <li class="nav-item">
        <a class="nav-link {{#isusuarios}}active fw-bold{{/isusuarios}}" href="{{{usuariosurl}}}">
            <i class="fa fa-users me-2"></i> Usuarios
        </a>
    </li>

    <hr>

    <!-- CURSOS -->
    <li class="nav-item">
        <a class="nav-link {{#iscursos}}active fw-bold{{/iscursos}}" href="{{{cursosurl}}}">
            <i class="fa fa-book me-2"></i> Cursos
        </a>
    </li>

    <hr>


</ul>